[package]
name = "sccache"
version = "0.2.14-alpha.0"
authors = ["Ted Mielczarek <ted@mielczarek.org>", "Alex Crichton <alex@alexcrichton.com>"]
license = "Apache-2.0"
description = "Sccache is a ccache-like tool. It is used as a compiler wrapper and avoids compilation when possible, storing a cache in a remote storage using the S3 API."
repository = "https://github.com/mozilla/sccache/"
readme = "README.md"
categories = ["command-line-utilities", "development-tools::build-utils"]
keywords = ["ccache"]
edition = "2018"

[badges]
travis-ci = { repository = "mozilla/sccache" }
appveyor = { repository = "mozilla/sccache" }

[[bin]]
name = "sccache"

[[bin]]
name = "sccache-dist"
required-features = ["dist-server"]

[dependencies]
ar = { version = "0.6", optional = true }
atty = "0.2.6"
base64 = "0.11.0"
bincode = "1"
blake3 = "0.1.5"
byteorder = "1.0"
bytes = "0.4"
chrono = { version = "0.4", optional = true }
clap = "2.23.0"
counted-array = "0.1"
directories = "1"
env_logger = "0.5"
error-chain = { version = "0.12.1", default-features = false }
filetime = "0.2"
flate2 = { version = "1.0", optional = true, default-features = false, features = ["rust_backend"] }
futures = "0.1.11"
futures-cpupool = "0.1"
hmac = { version = "0.7", optional = true }
http = "0.1"
hyper = { version = "0.12", optional = true }
hyperx = { version = "0.12", optional = true }
jobserver = "0.1"
jsonwebtoken = { version = "6.0.1", optional = true }
lazy_static = "1.0.0"
libc = "0.2.10"
local-encoding = "0.2.0"
log = "0.4"
lru-disk-cache = { path = "lru-disk-cache", version = "0.4.0" }
md-5 = { version = "0.8", optional = true }
memcached-rs = { version = "0.3" , optional = true }
num_cpus = "1.0"
number_prefix = "0.2.5"
openssl = { version = "0.10", optional = true }
rand = "0.5"
redis = { version = "0.9.0", optional = true }
regex = "1"
reqwest = { version = "0.9.11", optional = true }
retry = "0.4.0"
ring = { version = "0.14.6", optional = true }
sha-1 = { version = "0.8", optional = true }
sha2 = { version = "0.8", optional = true }
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
strip-ansi-escapes = "0.1"
tar = "0.4"
tempfile = "3"
time = "0.1.35"
tokio-compat = "0.1"
tokio-io = "0.1"
tokio-process = "0.2"
tokio-serde-bincode = "0.1"
tower = "0.1"
tokio-tcp = "0.1"
tokio-timer = "0.2"
toml = "0.4"
untrusted = { version = "0.6.0", optional = true }
url = { version = "1.0", optional = true }
uuid = { version = "0.7", features = ["v4"] }
walkdir = "1.0.7"
# by default which pulls in an outdated failure version
which = { version = "3", default-features = false }
zip = { version = "0.4", default-features = false, features = ["deflate"] }

# dist-server only
crossbeam-utils = { version = "0.5", optional = true }
libmount = { version = "0.1.10", optional = true }
nix = { version = "0.11.0", optional = true }
rouille = { version = "2.2", optional = true, default-features = false, features = ["ssl"] }
syslog = { version = "4.0.1", optional = true }
void = { version = "1", optional = true }
version-compare = { version = "0.0.10", optional = true }
quote = "1.0.2"

[patch.crates-io]
# Waiting for #151 to make it into a release
tiny_http = { git = "https://github.com/tiny-http/tiny-http.git", rev = "619680de" }

[dev-dependencies]
assert_cmd = "0.9"
cc = "1.0"
chrono = "0.4"
escargot = "0.3"
itertools = "0.7"
predicates = "0.9.0"
# Waiting for #15 to make it into a release
selenium-rs = { git = "https://github.com/saresend/selenium-rs.git", rev = "0314a2420da78cce7454a980d862995750771722" }

[target.'cfg(unix)'.dependencies]
daemonize = "0.3"
tokio-uds = "0.2"

[target.'cfg(windows)'.dependencies]
tokio-named-pipes = "0.1"
tokio-reactor = "0.1"

[target.'cfg(windows)'.dependencies.winapi]
version = "0.3"
features = [
    "fileapi",
    "handleapi",
    "winnls",
]

[features]
default = ["dist-client", "s3"]
all = ["dist-client", "redis", "s3", "memcached", "gcs", "azure"]
azure = ["chrono", "hyper", "hyperx", "url", "hmac", "md-5", "sha2"]
s3 = ["chrono", "hyper", "hyperx", "reqwest", "simple-s3", "hmac", "sha-1"]
simple-s3 = []
gcs = ["chrono", "hyper", "hyperx", "reqwest", "ring", "untrusted", "url"]
memcached = ["memcached-rs"]
native-zlib = ["zip/deflate-zlib"]
# Enable features that require unstable features of Nightly Rust.
unstable = []
# Enables distributed support in the sccache client
dist-client = ["ar", "flate2", "hyper", "hyperx", "reqwest", "url", "sha2"]
# Enables the sccache-dist binary
dist-server = ["crossbeam-utils", "jsonwebtoken", "flate2", "libmount", "nix", "openssl", "reqwest", "rouille", "syslog", "void", "version-compare"]
# Enables dist tests with external requirements
dist-tests = ["dist-client", "dist-server"]

[workspace]
exclude = ["tests/test-crate"]
