name: redis-test
on: [push, pull_request]
jobs:
  redis:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
          - 6379:6379

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Install rust
        uses: ./.github/actions/rust-toolchain
        with:
          toolchain: "stable"

      - name: Build
        run: |
          cargo install --debug --path . --features "redis"

      - name: Test
        run: cargo clean && cargo build
        env:
          RUST_BACKTRACE: full
          RUST_LOG: debug
          RUSTC_WRAPPER: /home/runner/.cargo/bin/sccache
          SCCACHE_REDIS: redis://127.0.0.1

      - name: Output
        run: |
          /home/runner/.cargo/bin/sccache --show-stats

          /home/runner/.cargo/bin/sccache --show-stats | grep redis

      - name: Test Twice for Cache Read
        run: cargo clean && cargo build
        env:
          RUST_BACKTRACE: full
          RUST_LOG: debug
          RUSTC_WRAPPER: /home/runner/.cargo/bin/sccache
          SCCACHE_REDIS: redis://127.0.0.1

      - name: Output
        run: |
          /home/runner/.cargo/bin/sccache --show-stats

          /home/runner/.cargo/bin/sccache --show-stats | grep -e "Cache hits.*0" || exit 1
